- var siteName = "Иван Соловьев – Frontend разработчик";

mixin head(title)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		link(rel="stylesheet" href="../index.css")
		title= title ? `${title}. ${siteName}` : siteName

		meta(property="og:locale" content="ru_RU")
		meta(property="og:type" content="website")

		block
