include ../photo/photo
include ../external-link/external-link

mixin home()
	main.home(itemscope itemtype="http://schema.org/Person")
		.home__wrap
			+photo

			.home__header
				h1.home__title
					span(itemprop="name")= name
					=" "
					span(itemprop="familyName")= last_name
				h2.home__specialty(itemprop="jobTitle")= specialty

			.home__text(itemprop="knowsAbout")
				each text in about
					p= text

			.home__social
				!= find_me
				each contact, index in contacts
					if index > 0
						!= ", "
					+external-link(contact.link)(itemprop=contact.type)= contact.name
